<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>downloadPage</title>
  <style>
    a{
      text-decoration: none;
    }
  </style>
</head>
<body>
<span th:if="${mediaList.size() == 0}">没有文件可下载</span>
<div th:if="${mediaList.size() != 0}">
  文件列表：
  <ul>
    <li th:each="file:${mediaList}" ><a th:href="@{'http://localhost:8080/aliyunoss/download?fileName=' + ${file.newName}}" th:text="${file.url}"></a> </li>
  </ul>
</div>
<img src="D:/upload/5bd9670665564db7b60d74363baffdff.png">
</body>
</html>
